@page
@model ConfirmEmailModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Xác thực tài khoản thành công";
}

<div class="container" style="background-color: white;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: unset;width: 60%;">
    <hr class="bg-success" style="height: 10px; border-width: 0;">
    <div class="row justify-content-md-center">
        <div class="col-md-10 mt-4 mb-5" style="text-align:center">
            <h2 class="text-success"><i class="fas fa-check-circle mr-2"></i>Xác thực tài khoản thành công.</h2>
            <p>Bạn có thể <a href="@Configuration["ConfigUrl:Mvc"]/account/signin">đăng nhập</a> vào tài khoản của mình.</p>
        </div>
    </div>
</div>