@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}

<div class="container" style="background-color: white;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: unset;width: 60%;">
    <hr class="bg-secondary" style="height: 10px; border-width: 0;">
    <div class="row justify-content-md-center">
        <div class="col-md-10 mt-4 mb-5" style="text-align:center">
            <h3 class="text-muted">
                <i class="fas fa-envelope-open-text mr-2"></i>
                Một email cài lại mật khẩu tài khoản đã được gửi đến địa chỉ mail bạn vừa nhập. Hãy kiểm tra hòm thư của bạn.
            </h3>
        </div>
    </div>
</div>

