@page
@model RegisterModel

@{
    ViewData["Title"] = "Đăng ký";
}

<div class="container  bg-white" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: unset; width: 40%;">
    <h5 class="text-center text-white bg-info p-2 mb-3" style="border-width: 0;">Đăng ký</h5>
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Fullname"></label>
                    <input asp-for="Input.Fullname" class="form-control" />
                    <span asp-validation-for="Input.Fullname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
