#item-detail {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: unset;
    width: 80%;
}

#line-head {
    height: 10px;
    border-width: 0;
}

#btn-regist {
    width: 150px;
    font-size: 18px;
}
