@section Styles {
    <link href="@Url.Content("~/css/regist-confirm.css")" rel="stylesheet" type="text/css" />
}

<!-- Confirm remove regist -->
<div class="container container-item container-item-medium">
    <hr class="bg-secondary line-head">
    <div class="row justify-content-md-center">
        <div class="col-md-10 mt-4 mb-4 text-muted" style="text-align:center">
            <h2><i class="fas fa-check-circle mr-2"></i>Đã hủy đăng ký cuộc thi</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-10" style="text-align:center">
            <hr style="width:100%;text-align:left;margin-left:0">
            <a type="button" class="btn btn-secondary p-2 mb-3" id="btn-back" asp-controller="Home" asp-action="Index">Trở về trang chủ</a>
        </div>
    </div>
</div>