@model EnglishExamOnline.Shared.FormViewModels.PasswordFormVm

@{
    ViewData["Title"] = "Tài khoản - Thay đổi mật khẩu";
}

<div class="container container-item container-item-small">
    <hr class="bg-primary" style=" height: 10px; border-width: 0;">
    <div class="row justify-content-md-center">
        <div class="col-md-10" style="text-align:center">
            <h3><i class="fas fa-key mr-2"></i>Thay đổi mật khẩu</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="userId" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="oldPassword" class="control-label"></label>
                    <input asp-for="oldPassword" type="password" class="form-control"/>
                    <span asp-validation-for="oldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="newPassword" class="control-label"></label>
                    <input asp-for="newPassword" type="password" class="form-control" id="newPassword"/>
                    <span asp-validation-for="newPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Nhập lại</label>
                    <input class="form-control" type="password" id="confirmPassword" oninput="CheckConfirmPassword()"/>
                    <span  class="text-danger" id="confirmPassword-error"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cập nhật" class="btn btn-primary" id="btnSubmit" disabled/>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function CheckConfirmPassword() {
        var newPassword = document.getElementById('newPassword').value;
        var confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword.localeCompare(confirmPassword) != 0) {
            document.getElementById('confirmPassword-error').innerHTML = "Mật khẩu không trùng khớp";
            document.getElementById("btnSubmit").disabled = true;
            return false;
        }
        else {
            document.getElementById('confirmPassword-error').innerHTML = "";
            document.getElementById("btnSubmit").disabled = false;
            return true;
        }
    }

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


