@model EnglishExamOnline.Shared.ViewModels.ResultVm

<div class="container" id="item-detail">
    <hr class="bg-success" id="line-head">
    <div class="row justify-content-md-center">
        <div class="col-md-10" style="text-align:center">
            <h2>Kết quả thi</h2>
            <hr style="width:100%;text-align:left;margin-left:0">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md ml-4">
            <h4>Số điểm:<span class="text-danger"> @Model.Point</span></h4>
            <h4>Số câu đúng:<span class="text-warning">@Model.NumOfCorrect / 10</span> </h4>
            <p class="text-muted">Thời gian kết thúc bài: @Model.EndTime</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-10" style="text-align:center">
            <hr style="width:100%;text-align:left;margin-left:0">
            <a type="button" class="btn btn-secondary p-2 mb-3" id="btn-back" asp-controller="Home" asp-action="Index">Xác nhận</a>
        </div>
    </div>
</div>
