@model EnglishExamOnline.Shared.FormViewModels.ContestScheduleFormVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style=" background-color: white; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: unset; width: 60%">
    <hr class="bg-success" style=" height: 10px; border-width: 0;">
    <div class="row justify-content-md-center">
        <div class="col-md-10" style="text-align:center">
            <h3>Thêm mới lịch thi</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <select asp-for="Length" class="form-control">
                        <option value="60">60 phút</option>
                        <option value="90">90 phút</option>
                        <option value="120">120 phút</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
