@model EnglishExamOnline.Shared.ViewModels.ContestScheduleVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container container-item container-item-medium">
    <hr class="bg-primary" style=" height: 10px; border-width: 0;">
    <div class="row justify-content-md-center">
        <div class="col-md-10" style="text-align:center">
            <h3>Cập nhật lịch thi</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="ContestScheduleId" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" class="form-control" id="dateStart" onchange="validationDate()" />
                    <p class="text-warning">*Các khung giờ chấp nhận: 8h, 10h, 14h, 16h, 19h.</p>
                    <span class="text-danger" id="dateError"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <select asp-for="Length" class="form-control">
                        <option value="90">60 phút</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cập nhật" class="btn btn-primary" id="btnSubmit"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function validationDate() {
        var dateString = document.getElementById('dateStart').value;
        var myDate = new Date(dateString);
        var dateMin = new Date();
        var dateMax = new Date();

        dateMin.setDate(dateMin.getDate() + 5);
        dateMax.setDate(dateMax.getDate() + 30);

        //Check hour can input
        var hours = myDate.getHours();
        var minutes = myDate.getMinutes();
        if ((hours == 8 || hours == 10 || hours == 14 || hours == 16 || hours == 19) && minutes == 0) {
            document.getElementById('dateError').innerHTML = "";
            document.getElementById("btnSubmit").disabled = false;
        }
        else {
            document.getElementById('dateError').innerHTML = "Vui lòng chọn những khung giờ trên!";
            document.getElementById("btnSubmit").disabled = true;
            return false;
        }

        //Check min max date can input
        if (myDate >= dateMin && myDate < dateMax) {
            document.getElementById('dateError').innerHTML = "";
            document.getElementById("btnSubmit").disabled = false;
            return true;
        }
        else {
            document.getElementById('dateError').innerHTML = "Lịch thi phải cách ngày hôm nay (không được nhỏ hơn) tối thiểu 5 ngày và không vượt quá 30 ngày để thí sinh có thể đăng ký!";
            document.getElementById("btnSubmit").disabled = true;
            return false;
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
