<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnglishExamOnline.ClientSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/content.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    @RenderSection("JavaScript", required: false)
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 text-white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-toolbox mr-2"></i><b>V-P english</b> Quản trị
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link" style="font-size:17px" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home mr-2"></i>Tổng quan
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" style="font-size:17px" asp-controller="AdminQuestions" asp-action="Index">
                                <i class="fas fa-university mr-2"></i>Ngân hàng câu hỏi
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" style="font-size:17px" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="fas fa-graduation-cap mr-2"></i>Cuộc thi
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" style="font-size:17px" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="fas fa-users mr-2"></i>Thí sinh
                            </a>
                        </li>
                    </ul>
                </div>
                @*<form class="d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link text-dark">
                                <a class="text-dark" asp-controller="Account" asp-action="MyProfile">
                                    <i class="fas fa-user-circle mr-2"></i>Admin
                                </a>
                            </span>
                        </li>
                        <li class="nav-item">
                            <span class="badge badge-danger"><a class="nav-link text-white" asp-controller="Account" asp-action="SignOut">Thoát</a></span>
                        </li>
                    </ul>
                </form>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


