<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link text-dark"><a class="text-dark" asp-controller="Account" asp-action="MyProfile">@User.Identity.Name</a></span>
        </li>
        <li class="nav-item">
            <span class="badge badge-danger"><a class="nav-link text-white" asp-controller="Account" asp-action="SignOut">Thoát</a></span>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Account" asp-action="SignIn"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
        </li>
    }
</ul> 