@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle mr-2"></i>@HttpContextAccessor.HttpContext.Session.GetString("fullname")
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-controller="Account" asp-action="MyProfile">Tài khoản</a>
                <a class="dropdown-item" asp-controller="Account" asp-action="GetResults">Lịch sử thi</a>
                <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Đổi mật khẩu</a>
                <a class="dropdown-item" asp-controller="Account" asp-action="SignOut">Đăng xuất</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Account" asp-action="SignIn"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
        </li>
    }
</ul> 