@{
    ViewData["Title"] = "Giới thiệu";
}
<h1>@ViewData["Title"]</h1>

<p>Được thúc đẩy bởi niềm đam mê với việc tìm kiếm tri thức về văn hóa, con người,... vạn vật xung quanh
    mình. Sứ mệnh của chúng tôi là tạo ra nơi kiểm tra kiến thức về ngôn ngữ được sử dụng rộng rãi trên
    toàn thế giới để có thể giúp bạn bước đi trên con đường đến với kho tàng tri thức của nhân loại.
    Tuy rằng con đường này lắm chong gai và có thể dễ dàng vấp ngã NHƯNG cùng nhau, chúng ta lại đứng
    lên, chúng tôi và các bạn, cùng tiến về phía trước.</p>
