@{
    ViewData["Title"] = "Giới thiệu";
}

<div class="container mb-5 container-item container-item-large">
    <hr class="bg-primary line-head">
    <div class="row justify-content-md-center">
        <div class="col-md-10" style="text-align:center">
            <h3>Đồ án tốt nghiệp - Nhóm 47 - Đề tài 53</h3>
            <p>Nguyễn Vinh Long Vinh - 17036561 | Võ Tuấn Phương - 17030061</p>
            <hr style="width:100%;text-align:left;margin-left:0">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-10 p-2 mb-3">
            <h5><b>Tổng quan</b></h5>
            <p>Hiện nay nhu cầu về học và thi tiếng anh ở Việt Nam rất lớn, ngày càng nhiều trung tâm tiếng anh được mở và số lượng người theo học tăng rất nhanh. Đa số các trung tâm đều tổ chức thi cử thông qua hình thức trên giấy hoặc thi trên máy ngay tại trung tâm. Với cách thi này sẽ có những bất lợi trong việc lưu trữu thông tin bài thi, tốn kém trong tổ chức thi cử, thụ đông đối với nhiều đối tượng thí sinh,...</p>
            <p>	Để giải quyết những thách thức trong tổ chức thi tiếng anh tại các trung tâm ở trên bằng cách sử dụng những tiến bộ của công nghệ thông tin và ứng dụng vào thực tiễn, Website tổ chức thi trắc nghiệm tiếng anh trực tuyến ra đời với mong đợi đáp ứng được nhu cầu thi trực tuyến một cách linh động cho những người học tiếng anh.</p>
            <p>Người dùng khi truy cập và sử dụng các dịch vụ của website có thể yên tâm về chất lượng tổ chức thi, bài thi và dễ dàng thao tác với giao diện, việc thi tiếng anh trên website không giới hạn bất kì người dùng nào.</p>
            <p>Website cung cấp một môi trường thi tiếng anh linh hoạt, phù hợp với mọi người dùng. Thí sinh có thể đăng ký tùy chọn các bài thi được tổ chức trực tuyến, có kết quả nhanh sau khi thi và nhận được phiếu đánh giá trực quan qua mail, xem được lịch sử các bài đã thi,... Website còn cung cấp các công cụ lưu trữ, quản lý dữ liệu liên quan đến bài thi, ngân hàng câu hỏi, thông tin thí sinh,.. giúp cho việc quản trị trở nên dễ dàng hơn.</p>
            <h5><b>Mục tiêu</b></h5>
            <p>- Giải quyết các vấn đề trong khâu tổ chức thi tại các trung tâm tuyến anh.</p>
            <p>- Cung cấp một Webstie tổ trức thi tiếng anh trắc nghiệm trực tuyến .</p>
            <p>- Thực hiện tổ chức thi trên website một cách linh động, không bó buộc như hình thức thi truyền thống.</p>
            <p>- Xây dựng đa dạng các chức năng người dùng.</p>
            <p>- Xây dựng hệ thống thi và đánh giá tiện dụng.</p>
            <p>- Xây dựng hệ thống lưu trữ thông tin và công cụ quản trị cho website.</p>
            <p>- Xây dựng thành công trang website là nơi tổ chức các cuộc thi tiếng Anh</p>
        </div>
    </div>
</div>